<!DOCTYPE html>
<html lang="en">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
body {text-decoration: none;  font-family: "Lato", sans-serif}
.mySlides {background-color: black;}
.w3-bar-item{
    position: relative;
}
.project1{
    text-decoration: none;
}
.w3-top{
    position: relative;
}
.w3-bar-block{
    position: relative;
    float:right;
    background-color: black;
    background-blend-mode: lighten;
}
.w3-half{
  display: block;
  
}
@media only screen and (min-width: 600px) {
  body {
    float: none;
    width: 100%;
  }
}
.projects{
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 50px;
  grid-template-areas: 
    
    ". . x x x x f"
    ". . a a a a f"
    ". . a a a a f"
    ". . c c c c f"
    ". . c c c c f";
    padding-right: 2mm;
  align-items: start;
}
.proj1{
  grid-area: a;
  
}
.proj2{
  grid-area: c;

}
.projTitle{
  grid-area: x;
}

p{
  margin: 0;
  word-spacing: 2px;
}
w3-half{
  position:relative;
  
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top w3-black">
    <div class="w3-black" >
          <div class="w3-bar-block w3-black w3-card">
    

    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-show-small">About</a>
    <a href="#projects" class="w3-bar-item w3-button w3-padding-large">Projects</a>

    
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-show-small"> Contact</a>
   </div>
  
</div>

</div>


<!-- Page content -->
<div class="w3-content" style="max-width:100%;margin-top:46px height: 33%;">


  <!-- About me -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:60%" id="about">
    <h2 class="w3-wide">About Me!</h2>
    <br>
    <div class="w3-half" title="Sorry about the low res img">
        <img src="Filo.jpeg" alt="New York" style="position:relative; width: 80%;"  class="w3-hover-opacity">

    </div>

    <br>
    <br>
    <br>
   
 
    <br>
    <div class=w3-half>
      <div>
        <p class="w3-opacity"><i>21 years old </i></p>
      
      </div>
      <div> <p class="w3-justify  "><i>My Name is Philopateer, I'm a Computer Science engineering student.<br> I have many hobbies , one of them is playing football , another one is reading ,Spending time with my dog.</i></p>
   
      </div>
     
    </div>


  </div>
<br>
<br>

  <!--Projects Section -->
  <div class="projects w3-container w3-content w3-center w3-padding-64" id="projects" style="max-width: 60%;">
   
     <div class="projTitle">
      <h2 class="w3-wide w3-center" style="float: none;display: block;">Projects</h2>



     </div> 
      
        <div class="proj1" ><a type="button" class="btn btn-default btn-lg active" style="text-decoration: none;" href="/home"> Personalized Movie database </a><span class="w3-badge "></span></div>
         
              
        
          
        <div class="proj2" ><a type="button" class="btn btn-default btn-lg active"  href="/home"> Personalized Movie database </a><span class="w3-badge"></span></div>
  

  </div>

  <br>
  <br>
  <br>
  <br>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px; height: 400px;" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>

    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Egypt, Cairo<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +01147299224 <br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: filo.ict@gmail.com<br>
      </div>
      <div class="w3-col m6">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
                <a href="https://www.facebook.com/filo.youhanna18" rel="alternate" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity" ></i></a>
               <a href="https://twitter.com/Filo_youhanna"><i class="fa fa-twitter w3-hover-opacity"></i></a> 

                <br>
                <a href="mailto:filo.ict@gmail.com">

                    <button class="w3-button w3-black w3-section w3-right" type="submit">Send me an E-mail !</button>
                 </a>
            </div>
          </div>

      
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>





</body>
</html>
