<!DOCTYPE html>
<html lang="en">
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {text-decoration: none;  font-family: "Lato", sans-serif}
.mySlides {background-color: black;}
.w3-bar-item{
    position: relative;
}
.project1{
    text-decoration: none;
}
.w3-top{
    position: relative;
}
.w3-bar-block{
    position: relative;
    float:right;
    background-color: black;
    background-blend-mode: lighten;
}
Projects{
    height: 300px;
    width: 60%;
}

</style>
<body style="max-width: 600px;">

<!-- Navbar -->
<div class="w3-top w3-black">
    <div class="w3-black" >
          <div class="w3-bar-block w3-black w3-card">
    

    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-show-small">About</a>
    <a href="#projects" class="w3-bar-item w3-button w3-padding-large">Projects</a>

    
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-show-small"> Contact</a>
   
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
  
</div>

</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->

<!-- Page content -->
<div class="w3-content" style="max-width:1000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->

  <!-- About me -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="about">
    <h2 class="w3-wide">About Me !</h2>
    <div class="w3-third w3-margin-bottom" title="Sorry about the low res img">
        <img src="Filo.jpeg" alt="New York" style="width:100%" class="w3-hover-opacity">

    </div>
    <p class="w3-opacity"><i>21 years old </i></p>
    <p class="w3-justify">My Name is Philopateer, I'm a Computer Science engineering student. I have many hobbies , one of them is playing football , another one is reading , and many other things.</p>
    <p class="w3-justify"></p>
    <br>
    <br>


  </div>

  <!--Projects Section -->
  <div class="Projects" id="projects" style="max-width: width 300px;">
    <div  class="w3-container w3-content w3-padding-12" style="max-width:300px">
      <h2 class="w3-wide w3-center">Projects</h2>

      <ul class="w3-ul w3-white " style="max-width: 300px;">

        <li class="w3-padding" style="max-width: 300px;"><a style="text-decoration: none;" href="/home"> Personalized Movie database </a><span class="w3-badge "></span></li>
         
              
            </ul><br>
            <br>
            <ul class="w3-ul  w3-white ">

        <li class="w3-padding">Project 2 <span class="w3-badge w3-right w3-margin-right"></span></li>
            </ul>

    </div>
  </div>

 

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px; height: 400px;" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>

    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Egypt, Cairo<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +01147299224 <br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: filo.ict@gmail.com<br>
      </div>
      <div class="w3-col m6">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
                <a href="https://www.facebook.com/filo.youhanna18" rel="alternate" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity" ></i></a>
               <a href="https://twitter.com/Filo_youhanna"><i class="fa fa-twitter w3-hover-opacity"></i></a> 

                <br>
                <a href="mailto:filo.ict@gmail.com">

                    <button class="w3-button w3-black w3-section w3-right" type="submit">Send me an E-mail !</button>
                 </a>
            </div>
          </div>

      
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>





</body>
</html>
