<!DOCTYPE html>
<html lang="en">
<title>Projects</title>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="bootstrap2-toggle.css">
    <link rel="stylesheet" href="bootstrap2-toggle.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.js" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.css"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    

<style>
    .w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
body {text-decoration: none;  font-family: "Lato", sans-serif}
.mySlides {background-color: black;}
.w3-bar-item{
    position: relative;
}
.project1{
    text-decoration: none;
}
.w3-top{
    position: relative;
}
.w3-bar-block{
    position: relative;
    float:right;
 
    background-blend-mode: lighten;
}
.w3-half{
  display: block;
  
}

@media only screen and (min-width: 300px) {
  body {
    float: none;
    width: 100%;
  }
}
.GodFather{
    grid-area: b;
    
    max-width: 60%;
    max-height: 60%;

}
.Home{
    grid-area: a;
    max-width: 60%;
    max-height: 60%;
}
.Search{
    grid-area: c;
    max-width: 60%;
    max-height: 60%;
}
.Watchlist{
    grid-area: d;   
    max-width: 60%;
    max-height: 60%;
}
.Proj1Pics{
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 50px;
  grid-template-areas: 
    
    "b b b"
    "b b b"
    "d d d"
    "d d d";
    padding-right: 2mm;
  align-items: start;
}
.proj1{
  grid-area: a;
  
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.proj2{
  grid-area: c;

}
.projTitle{
  grid-area: x;
}

p{
  margin: 0;
  word-spacing: 2px;
}
w3-half{
  position:relative;
  
}
.myFont{
    font-family: "Comic Sans MS", cursive, sans-serif;}
</style>
<body>

    <div class="w3-top" id="topbuttons">
              <div class="w3-bar-block w3-black w3-card">
        
    
        <a href="home#about" class="w3-bar-item w3-button w3-padding-large w3-show-x w3-black">About</a>
        <a href="home#projects" class="w3-bar-item w3-button w3-padding-large w3-black" >Projects</a>
    
        
        <a href="home#contact" class="w3-bar-item w3-button w3-padding-large w3-show-small w3-black"> Contact</a>
  
       </div>
       <div class="w3-bar-block w3-flat-midnight-blue w3-left" style="outline-color: royalblue;">
        <h2 class="w3-xlarge">Dark mode</h2>
        <label class="switch">
         <input type="checkbox" id="toggleSwitch">
         <span class="slider round"></span>
       </label>
    
       </div>

    </div>



    <!-- Page content -->
  <!-- movie database -->
   <!-- About me -->
   <div id="page">

        
   <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:60%" id="about">
        <h2 class="w3-wide">About me!</h2>
            <br>
      <div class="w3-half" title="Sorry about the low res img">
        <img src="Filo.jpeg" alt="New York" style="position:relative; width: 80%;"  class="w3-hover-opacity">

        </div>
    
      <br>
     <br>
      <br>
   
 
     <br>
      <div class=w3-half>
      <div>
        <p class="w3-opacity"><i>21 years old </i></p>
      
      </div>
      <div> <p class="w3-justify  "><i>My Name is Philopateer, I'm a Computer Science engineering student.<br> I have many hobbies , one of them is playing football , another one is reading ,Spending time with my dog.</i></p>
   
                          
      
      
      
                </div>
     
            </div>


                      </div>
               
                                                            <br>  
<br>

  <!--Projects Section -->
  

  <br>
  <br>
  <br>
  <br>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px; height: 400px;" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>

    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <a href="https://www.facebook.com/filo.youhanna18" style="padding-right: 3%;" rel="alternate" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity" ></i></a>
        <a href="https://twitter.com/Filo_youhanna"><i class="fa fa-twitter w3-hover-opacity"></i></a> 
        <br>
        <i class="fa fa-map-marker" style="width:30px"></i> Egypt, Cairo<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +01147299224 <br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: filo.ict@gmail.com<br>
      </div>
      <div class="w3-col m6">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
         
                <br>
                <a href="mailto:filo.ict@gmail.com"  class="w3-button w3-black w3-section w3-right" >

                  Send me an E-mail !
                 </a>
            </div>
      
      </div>
    </div>
  </div>

</div>
</div>

<!-- End Page Content -->


 

<script>
    let x = document.getElementById("page");
  let y = x.children;
  
    document.getElementById("toggleSwitch").onclick = function() {
      myFunction()
    };

    function myFunction() {
      let color = document.body.style.background;
      for(let i =0;i<y.length;i++){
        if (color === 'black') {
        document.body.style.background = "white";

        y[i].style.color="black";
        let t=y[i].children;
        for(let h=0;h<t.length;h++)
          t[h].style.color="black";
    
      } 
      else {
        document.body.style.background = "black";
    let z=   document.getElementById(topbuttons);
    y[i].style.color="blue";
    
    let t=y[i].children;
        for(let h=0;h<t.length;h++)
          t[h].style.color="blue";
    

        
        z.className="w3-bar-block w3-midnight-blue w3-card";

 


      }
      }
      

    }
  </script>



</body>
</html>
